html {
  background-color: #101010;
  color: #f0f0f0;
}

body { 
  text-align: center;
  font-family: Roboto Condensed;
  color: #f0f0f0;
}

.pfp img {
  background-color: #101010;
  color: #101010;
  height: 8rem;
  width: 8rem;
  border-radius: 100%;
  margin-top: 1rem;
}

.name {
  font-size: 1.5rem;
  font-family: Roboto Condensed;
  font-weight: bold;
}

.quote {
  color: #c0c0c0;
  font-size: 1rem;
  font-family: Roboto;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* BUTTONS */
 a.buttons:link, a.buttons:visited {
  background-color: #101010;
  color: #f0f0f0;
  font-size: 1rem;
  font-family: Roboto Condensed;
  font-weight: bold; 
  border: 0.25rem solid #f0f0f0;
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: 16rem;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

a.buttons:hover, a.buttons:active {
  background-color: #f0f0f0;
  color: #101010;
}

@media screen and (max-width: 24rem) {
  a.buttons:link, a.buttons:visited {
    padding: 1rem 0rem;
    width: 90vw;
    vertical-align: middle;
  }
}

.social-media {
  margin-bottom: 4rem;
}

/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: auto;
  width: 100%;
  font-family: Roboto Medium;
  font-size: 0.75rem;
  background-color: #181818;
  color: #c0c0c0;
  padding: 1rem 0rem;
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer p {
  display: inline;
  padding: 1rem 0.5rem;
}


a.sources:link, a.sources:hover {
  color: #e0e0e0;
}

a.sources:visited {
  color: #a0a0a0;
}